In [1]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('/workspaces/project_programming_analyt/Cleaned_StationDetails.csv')

# Display the first few rows of the DataFrame
print(df.head())

# Display basic statistics
print(df.describe())

# Display information about the DataFrame
print(df.info())

   county  station_name                    name  height(m)  easting  northing  \
0  Antrim          5880         LH_RATHLIN_WEST         10   309200    451800
1  Carlow          4415     TULLOW (Waterworks)         76   284700    173400
2  Carlow          2414             BORRIS G.S.         85   272400    150700
3  Carlow          1214  CARLOW (SUGAR FACTORY)         58   272200    178400
4  Carlow           115     HACKETSTOWN RECTORY        182   297600    180500

   latitude  longitude  open_year  close_year
0  55.30083   -6.28028     2000.0           0
1  52.80528   -6.74306     1985.0           0
2  52.60278   -6.93056     1944.0        1991
3  52.85139   -6.92778     1953.0        1960
4  52.86667   -6.55000     1910.0        1944
       station_name    height(m)        easting       northing     latitude  \
count   2080.000000  2080.000000    2080.000000    2080.000000  2080.000000
mean    3354.113942    88.080288  196322.346635  204490.070673    53.086816
std     2890.322201    92.297852   77071.221714   97627.013312     0.877909
min      101.000000     0.000000   35400.000000   16400.000000    51.389440
25%     1226.750000    32.000000  130650.000000  122601.250000    52.352150
50%     2505.500000    64.000000  192347.500000  202005.000000    53.065835
75%     4907.250000   105.000000  261025.000000  273540.000000    53.708405
max    19923.000000   808.000000  338200.000000  458600.000000    55.372220

         longitude    open_year   close_year
count  2080.000000  2079.000000  2080.000000
mean     -8.050338  1962.957672  1477.299038
std       1.146600    31.534010   864.280775
min     -10.405560  1829.000000     0.000000
25%      -9.033125  1944.000000     0.000000
50%      -8.117080  1956.000000  1972.000000
75%      -7.085138  1986.000000  1993.000000
max      -5.925830  2022.000000  2021.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2080 entries, 0 to 2079
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   county        2080 non-null   object
 1   station_name  2080 non-null   int64
 2   name          2080 non-null   object
 3   height(m)     2080 non-null   int64
 4   easting       2080 non-null   int64
 5   northing      2080 non-null   int64
 6   latitude      2080 non-null   float64
 7   longitude     2080 non-null   float64
 8   open_year     2079 non-null   float64
 9   close_year    2080 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 162.6+ KB
None

In [3]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('/workspaces/project_programming_analyt/Cleaned_StationDetails.csv')

# Display the column names
print(df.columns)

Index(['county', 'station_name', 'name', 'height(m)', 'easting', 'northing',
       'latitude', 'longitude', 'open_year', 'close_year'],
      dtype='object')

In [5]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('/workspaces/project_programming_analyt/Cleaned_StationDetails.csv')

# Count the number of stations per county
station_counts = df['county'].value_counts()
print(station_counts)

# Find the station with the highest altitude
highest_altitude_station = df.loc[df['height(m)'].idxmax()]
print(highest_altitude_station)

# Calculate the average altitude of stations per county
avg_altitude_per_county = df.groupby('county')['height(m)'].mean()
print(avg_altitude_per_county)

# Find stations that were opened after 2000
stations_opened_after_2000 = df[df['open_year'] > 2000]
print(stations_opened_after_2000)

county
Cork         264
Kerry        157
Galway       151
Donegal      143
Mayo         135
Tipperary    119
Wicklow      115
Dublin        94
Wexford       92
Clare         83
Limerick      72
Waterford     65
Cavan         55
Sligo         55
Kilkenny      55
Kildare       54
Roscommon     50
Meath         48
Offaly        46
Westmeath     42
Leitrim       36
Laois         34
Louth         34
Monaghan      30
Carlow        28
Longford      22
Antrim         1
Name: count, dtype: int64
county                          Kerry
station_name                     9905
name            M.TORC MANGERTON NO.3
height(m)                         808
easting                         97500
northing                        81200
latitude                     51.97361
longitude                    -9.49167
open_year                      1942.0
close_year                       1991
Name: 975, dtype: object
county
Antrim        10.000000
Carlow        95.928571
Cavan        101.036364
Clare         61.578313
Cork          89.818182
Donegal       80.174825
Dublin        64.606383
Galway        55.245033
Kerry        122.656051
Kildare       88.000000
Kilkenny      84.781818
Laois        138.264706
Leitrim       82.722222
Limerick      77.097222
Longford      68.136364
Louth         49.176471
Mayo          47.622222
Meath         75.666667
Monaghan      99.400000
Offaly        69.978261
Roscommon     67.940000
Sligo         58.381818
Tipperary    104.369748
Waterford     69.123077
Westmeath     84.500000
Wexford       61.532609
Wicklow      227.695652
Name: height(m), dtype: float64
       county  station_name                         name  height(m)  easting  \
15     Carlow           375                     OAK PARK         62   273000
27     Carlow          6914         GARRYHILL (MILLTOWN)        107   278600
43      Cavan           675                   BALLYHAISE         78   245200
65      Cavan          5431            VIRGINIA (MURMOD)        122   260600
70      Cavan          5885                 KILCOGY_WWTP         94   238030
...       ...           ...                          ...        ...      ...
2015  Wicklow          1585         ASHFORD (Cronykeery)         15   329185
2024  Wicklow          3924         ASHFORD (Cronykeery)         15   329185
2026  Wicklow          4024            KILBRIDE (Togher)         72   327687
2027  Wicklow          4124    DRUIDS GLEN (Golf Course)         55   328500
2034  Wicklow          1785  ARKLOW (Ballyrichard House)         70   326035

      northing  latitude  longitude  open_year  close_year
15      179500  52.86111   -6.91528     2003.0           0
27      158700  52.67389   -6.83750     2003.0        2005
43      311600  54.05139   -7.30972     2003.0           0
65      289100  53.84778   -7.07972     2001.0        2007
70      287225  53.83333   -7.42306     2019.0           0
...        ...       ...        ...        ...         ...
2015    198840  53.02500   -6.07528     2018.0           0
2024    198835  53.02500   -6.07528     2001.0           0
2026    184162  52.89361   -6.10361     2004.0           0
2027    206715  53.09583   -6.08250     2013.0        2014
2034    177510  52.83417   -6.13056     2018.0           0

[262 rows x 10 columns]